### Step 1: Importing required Modules

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
import numpy as np
import tensorflow as tf

### Step 2: Importing dataset

In [2]:
ds = pd.read_csv("car_purchasing.csv", encoding="ISO-8859-1")
ds.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

### Step 3: checking null values and describing the dataset

In [3]:
ds.shape

(500, 9)

In [4]:
ds.isnull().sum()

customer name          0
customer e-mail        0
country                0
gender                 0
age                    0
annual Salary          0
credit card debt       0
net worth              0
car purchase amount    0
dtype: int64

In [ ]:
ds.describe()

,gender,age,annual Salary,credit card debt,net worth,car purchase amount
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,0.506000,46.241674,62127.239608,9607.645049,431475.713625,44209.799218
std,0.500465,7.978862,11703.378228,3489.187973,173536.756340,10773.178744
min,0.000000,20.000000,20000.000000,100.000000,20000.000000,9000.000000
25%,0.000000,40.949969,54391.977195,7397.515792,299824.195900,37629.896040
50%,1.000000,46.049901,62915.497035,9655.035568,426750.120650,43997.783390
75%,1.000000,51.612263,70117.862005,11798.867487,557324.478725,51254.709517
max,1.000000,70.000000,100000.000000,20000.000000,1000000.000000,80000.000000

### Step 4: Encoding the catagorical values into Numerical values

In [6]:
ds.columns

Index(['customer name', 'customer e-mail', 'country', 'gender', 'age',
       'annual Salary', 'credit card debt', 'net worth',
       'car purchase amount'],
      dtype='object')

In [7]:
ds = ds.drop(columns=['customer name', 'customer e-mail', 'gender','age'])
ds.head()

,country,annual Salary,credit card debt,net worth,car purchase amount
0,Bulgaria,62812.09301,11609.380910,238961.2505,35321.45877
1,Belize,66646.89292,9572.957136,530973.9078,45115.52566
2,Algeria,53798.55112,11160.355060,638467.1773,42925.70921
3,Cook Islands,79370.03798,14426.164850,548599.0524,67422.36313
4,Brazil,59729.15130,5358.712177,560304.0671,55915.46248

In [8]:
le = LabelEncoder()

In [9]:
ds['country'].unique()

array(['Bulgaria', 'Belize', 'Algeria', 'Cook Islands', 'Brazil',
       'Liberia', 'Syria', 'Czech Republic', 'Armenia', 'Somalia',
       'Sint Maarten', 'Greenland', 'Nicaragua', 'Palestine, State of',
       'United Arab Emirates', 'Gabon', 'Tokelau', 'Portugal', 'Chad',
       'Iraq', 'Sudan', 'Angola', 'Nigeria', 'Madagascar', 'Macedonia',
       'Oman', 'Colombia', 'Namibia', 'Denmark', 'Dominican Republic',
       'Costa Rica', 'Botswana', 'Saint Pierre and Miquelon', 'France',
       'Senegal', 'Cambodia', 'Suriname', 'Turkey', 'Ethiopia',
       'French Guiana', 'Bhutan', 'Georgia', 'Mozambique', 'Nauru',
       'Timor-Leste', 'Djibouti', 'Argentina', 'Taiwan', 'Åland Islands',
       'Turks and Caicos Islands', 'Samoa', 'Vanuatu', 'Mongolia',
       'Sri Lanka', 'Guinea-Bissau', 'Egypt', 'Slovenia', 'Benin',
       'Cape Verde', 'Paraguay', 'Laos', 'Iceland', 'Viet Nam',
       'Marshall Islands', 'Germany', 'Kyrgyzstan', 'Mauritius', 'Gambia',
       'Reunion', 'Jordan', 'Slovakia', 'Kiribati',
       'United States Minor Outlying Islands', 'Puerto Rico', 'Guinea',
       'Guam', 'China', 'Sierra Leone', 'Ecuador', 'Anguilla',
       'Kazakhstan', 'Jersey', 'Macao', 'Indonesia', 'Palau', 'Ghana',
       'Cameroon', 'Myanmar', 'Central African Republic', 'Bolivia',
       'Tuvalu', 'Qatar', 'Venezuela', 'Togo', 'Nepal', 'Saudi Arabia',
       'San Marino', 'Saint Lucia', 'Solomon Islands', 'Andorra',
       'Falkland Islands', 'Japan', 'Israel', 'Christmas Island',
       'Liechtenstein', 'Mayotte', 'Saint Kitts and Nevis', 'Maldives',
       'Aruba', 'Lebanon', 'Monaco', 'Martinique', 'Guadeloupe',
       'Equatorial Guinea', 'South Africa', 'Wallis and Futuna',
       'Tunisia', 'Pakistan', 'Bahrain', 'Serbia', 'Peru', 'Austria',
       'Lithuania', 'Curaçao', 'Zimbabwe', 'Uganda', 'Kenya', 'Kuwait',
       'Greece', 'Bouvet Island', 'Thailand', 'Bahamas', 'Latvia',
       'Hong Kong', 'French Polynesia', 'Yemen',
       'Heard Island and Mcdonald Islands', 'Virgin Islands, British',
       'Singapore', 'Cocos (Keeling) Islands', 'Saint Martin',
       'Northern Mariana Islands', 'Croatia', 'Malta', 'Mauritania',
       'Guyana', 'Haiti', 'Faroe Islands', 'Saint Barthélemy', 'Poland',
       'Congo (Brazzaville)', 'Guernsey', 'Sao Tome and Principe',
       'Grenada', 'United States', 'Virgin Islands, United States',
       'Bermuda', 'Norfolk Island', 'Italy', 'Bangladesh', 'Philippines',
       'French Southern Territories', 'Jamaica', 'Belarus',
       'Turkmenistan', 'Guatemala', 'Saint Vincent and The Grenadines',
       'Tonga', 'Papua New Guinea', 'Canada',
       'Bonaire, Sint Eustatius and Saba', 'El Salvador', 'Isle of Man',
       'Bosnia and Herzegovina', 'India', 'Trinidad and Tobago',
       'Moldova', 'Tanzania', 'Niue', 'Rwanda', 'Morocco',
       'Western Sahara', 'Micronesia', 'American Samoa',
       'United Kingdom (Great Britain)', 'Seychelles', 'Switzerland',
       'Chile', 'Uruguay', 'South Georgia and The South Sandwich Islands',
       'Afghanistan', 'Belgium', 'Antarctica', 'Korea, South',
       'Cayman Islands', 'Honduras', 'Mexico', 'Australia', 'Montenegro',
       'Luxembourg', 'Hungary', 'Niger', 'New Caledonia', 'Mali',
       'Malawi', 'South Sudan', 'Ukraine', 'New Zealand',
       'Saint Helena, Ascension and Tristan da Cunha', 'Malaysia',
       'marlal'], dtype=object)

In [10]:
ds['country'] = le.fit_transform(ds['country'])

In [11]:
print("Encoded values for countries:")
for index, label in enumerate(le.classes_):
    print(f"{label} -> {index}")

Encoded values for countries:
Afghanistan -> 0
Algeria -> 1
American Samoa -> 2
Andorra -> 3
Angola -> 4
Anguilla -> 5
Antarctica -> 6
Argentina -> 7
Armenia -> 8
Aruba -> 9
Australia -> 10
Austria -> 11
Bahamas -> 12
Bahrain -> 13
Bangladesh -> 14
Belarus -> 15
Belgium -> 16
Belize -> 17
Benin -> 18
Bermuda -> 19
Bhutan -> 20
Bolivia -> 21
Bonaire, Sint Eustatius and Saba -> 22
Bosnia and Herzegovina -> 23
Botswana -> 24
Bouvet Island -> 25
Brazil -> 26
Bulgaria -> 27
Cambodia -> 28
Cameroon -> 29
Canada -> 30
Cape Verde -> 31
Cayman Islands -> 32
Central African Republic -> 33
Chad -> 34
Chile -> 35
China -> 36
Christmas Island -> 37
Cocos (Keeling) Islands -> 38
Colombia -> 39
Congo (Brazzaville) -> 40
Cook Islands -> 41
Costa Rica -> 42
Croatia -> 43
Curaçao -> 44
Czech Republic -> 45
Denmark -> 46
Djibouti -> 47
Dominican Republic -> 48
Ecuador -> 49
Egypt -> 50
El Salvador -> 51
Equatorial Guinea -> 52
Ethiopia -> 53
Falkland Islands -> 54
Faroe Islands -> 55
France -> 56
French Guiana -> 57
French Polynesia -> 58
French Southern Territories -> 59
Gabon -> 60
Gambia -> 61
Georgia -> 62
Germany -> 63
Ghana -> 64
Greece -> 65
Greenland -> 66
Grenada -> 67
Guadeloupe -> 68
Guam -> 69
Guatemala -> 70
Guernsey -> 71
Guinea -> 72
Guinea-Bissau -> 73
Guyana -> 74
Haiti -> 75
Heard Island and Mcdonald Islands -> 76
Honduras -> 77
Hong Kong -> 78
Hungary -> 79
Iceland -> 80
India -> 81
Indonesia -> 82
Iraq -> 83
Isle of Man -> 84
Israel -> 85
Italy -> 86
Jamaica -> 87
Japan -> 88
Jersey -> 89
Jordan -> 90
Kazakhstan -> 91
Kenya -> 92
Kiribati -> 93
Korea, South -> 94
Kuwait -> 95
Kyrgyzstan -> 96
Laos -> 97
Latvia -> 98
Lebanon -> 99
Liberia -> 100
Liechtenstein -> 101
Lithuania -> 102
Luxembourg -> 103
Macao -> 104
Macedonia -> 105
Madagascar -> 106
Malawi -> 107
Malaysia -> 108
Maldives -> 109
Mali -> 110
Malta -> 111
Marshall Islands -> 112
Martinique -> 113
Mauritania -> 114
Mauritius -> 115
Mayotte -> 116
Mexico -> 117
Micronesia -> 118
Moldova -> 119
Monaco -> 120
Mongolia -> 121
Montenegro -> 122
Morocco -> 123
Mozambique -> 124
Myanmar -> 125
Namibia -> 126
Nauru -> 127
Nepal -> 128
New Caledonia -> 129
New Zealand -> 130
Nicaragua -> 131
Niger -> 132
Nigeria -> 133
Niue -> 134
Norfolk Island -> 135
Northern Mariana Islands -> 136
Oman -> 137
Pakistan -> 138
Palau -> 139
Palestine, State of -> 140
Papua New Guinea -> 141
Paraguay -> 142
Peru -> 143
Philippines -> 144
Poland -> 145
Portugal -> 146
Puerto Rico -> 147
Qatar -> 148
Reunion -> 149
Rwanda -> 150
Saint Barthélemy -> 151
Saint Helena, Ascension and Tristan da Cunha -> 152
Saint Kitts and Nevis -> 153
Saint Lucia -> 154
Saint Martin -> 155
Saint Pierre and Miquelon -> 156
Saint Vincent and The Grenadines -> 157
Samoa -> 158
San Marino -> 159
Sao Tome and Principe -> 160
Saudi Arabia -> 161
Senegal -> 162
Serbia -> 163
Seychelles -> 164
Sierra Leone -> 165
Singapore -> 166
Sint Maarten -> 167
Slovakia -> 168
Slovenia -> 169
Solomon Islands -> 170
Somalia -> 171
South Africa -> 172
South Georgia and The South Sandwich Islands -> 173
South Sudan -> 174
Sri Lanka -> 175
Sudan -> 176
Suriname -> 177
Switzerland -> 178
Syria -> 179
Taiwan -> 180
Tanzania -> 181
Thailand -> 182
Timor-Leste -> 183
Togo -> 184
Tokelau -> 185
Tonga -> 186
Trinidad and Tobago -> 187
Tunisia -> 188
Turkey -> 189
Turkmenistan -> 190
Turks and Caicos Islands -> 191
Tuvalu -> 192
Uganda -> 193
Ukraine -> 194
United Arab Emirates -> 195
United Kingdom (Great Britain) -> 196
United States -> 197
United States Minor Outlying Islands -> 198
Uruguay -> 199
Vanuatu -> 200
Venezuela -> 201
Viet Nam -> 202
Virgin Islands, British -> 203
Virgin Islands, United States -> 204
Wallis and Futuna -> 205
Western Sahara -> 206
Yemen -> 207
Zimbabwe -> 208
marlal -> 209
Åland Islands -> 210

In [12]:
import pickle

In [13]:
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(le, file)

In [14]:
ds['country']

0       27
1       17
2        1
3       41
4       26
      ...
495    128
496    208
497    144
498     24
499    209
Name: country, Length: 500, dtype: int64

In [15]:
ds.head()

   country  annual Salary  credit card debt    net worth  car purchase amount
0       27    62812.09301      11609.380910  238961.2505          35321.45877
1       17    66646.89292       9572.957136  530973.9078          45115.52566
2        1    53798.55112      11160.355060  638467.1773          42925.70921
3       41    79370.03798      14426.164850  548599.0524          67422.36313
4       26    59729.15130       5358.712177  560304.0671          55915.46248

### Step 5: Splitting the whole data into training and testing data

In [16]:
X = ds.drop(columns = "car purchase amount")
y = ds["car purchase amount"]

In [17]:
X.head()

   country  annual Salary  credit card debt    net worth
0       27    62812.09301      11609.380910  238961.2505
1       17    66646.89292       9572.957136  530973.9078
2        1    53798.55112      11160.355060  638467.1773
3       41    79370.03798      14426.164850  548599.0524
4       26    59729.15130       5358.712177  560304.0671

In [18]:
print(X.dtypes)

country               int64
annual Salary       float64
credit card debt    float64
net worth           float64
dtype: object

In [19]:
y.head()

0    35321.45877
1    45115.52566
2    42925.70921
3    67422.36313
4    55915.46248
Name: car purchase amount, dtype: float64

### Step 6: Using StandedScalar for Enhancing Model Performance and spliting the whole data into training and testing

In [20]:
ss = StandardScaler()
X = ss.fit_transform(X)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [23]:
X_train.shape

(400, 4)

### Step 7: Defining an Artificial Neural Network

In [24]:
model = tf.keras.models.Sequential()

In [25]:
model.add(tf.keras.layers.Dense(units=4, activation='relu')) #input layer
model.add(tf.keras.layers.Dense(units=128, activation='relu'))   # Hidden layer 1
model.add(tf.keras.layers.Dense(units = 64, activation='relu'))  # Hidden layer 2
model.add(tf.keras.layers.Dense(units = 32, activation='relu'))  # Hidden layer 3
model.add(tf.keras.layers.Dense(units=1))  # output layer

### Step 8: Compiling Network

In [26]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_absolute_error'])

### Step 9: Fitting Network

for batch_size=6 and epochs=30 i am getting 5500 around mean absolute error

In [27]:
#fitting the model
model.fit(X_train, y_train, epochs=30, batch_size=5)

Epoch 1/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 2153588736.0000 - mean_absolute_error: 44901.6484
Epoch 2/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1981770368.0000 - mean_absolute_error: 43238.4102
Epoch 3/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1617100032.0000 - mean_absolute_error: 38869.0977
Epoch 4/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 578062336.0000 - mean_absolute_error: 21454.0293
Epoch 5/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 208568608.0000 - mean_absolute_error: 11471.8135
Epoch 6/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 167028816.0000 - mean_absolute_error: 10094.4023
Epoch 7/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 135534608.0000 - mean_absolute_error: 9207.4111
Epoch 8/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 102517736.0000 - mean_absolute_error: 7993.4224
Epoch 9/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 101393240.0000 - mean_absolute_error: 8076.4390
Epoch 10/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 100782088.0000 - mean_absolute_error: 7966.7490
Epoch 11/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 85060816.0000 - mean_absolute_error: 7207.9287
Epoch 12/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 95990824.0000 - mean_absolute_error: 7729.1636
Epoch 13/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 81874088.0000 - mean_absolute_error: 7208.1250
Epoch 14/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 81500992.0000 - mean_absolute_error: 7095.5762
Epoch 15/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 74111336.0000 - mean_absolute_error: 6868.8291
Epoch 16/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 66028004.0000 - mean_absolute_error: 6335.1748
Epoch 17/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 72566968.0000 - mean_absolute_error: 6680.7856
Epoch 18/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 68877424.0000 - mean_absolute_error: 6472.7231
Epoch 19/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 64919760.0000 - mean_absolute_error: 6315.9932
Epoch 20/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 58305324.0000 - mean_absolute_error: 5754.9668
Epoch 21/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 61820488.0000 - mean_absolute_error: 6265.6489
Epoch 22/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 67053028.0000 - mean_absolute_error: 6643.2568
Epoch 23/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 63021512.0000 - mean_absolute_error: 6192.4082
Epoch 24/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52304704.0000 - mean_absolute_error: 5770.9282
Epoch 25/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 56871816.0000 - mean_absolute_error: 6031.8130
Epoch 26/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 53865272.0000 - mean_absolute_error: 5775.7720
Epoch 27/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 994us/step - loss: 56550856.0000 - mean_absolute_error: 6003.6484
Epoch 28/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 47367716.0000 - mean_absolute_error: 5382.1309
Epoch 29/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 975us/step - loss: 48528604.0000 - mean_absolute_error: 5428.8838
Epoch 30/30
80/80 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 46429844.0000 - mean_absolute_error: 5415.0669

### Step 10: Model Evaluating

In [28]:
loss, mae = model.evaluate(X_test,y_test)
print(f'Mean Absolute Error (MAE): {mae}')

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49513384.0000 - mean_absolute_error: 5683.4116
Mean Absolute Error (MAE): 5506.63623046875

### Step 11: Saving model

In [29]:
model.save("car_purchase_rate.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.